<div class="buttonRow">
  <button style="color: lightgrey;" id="renameDict" type="button" mat-raised-button (click)="1">
Rename Dictionary</button>
<button id="addLesson" type="button" mat-raised-button (click)="openAddLessonDialog()">
  Add Lesson</button>
<button id="addWord" type="button" mat-raised-button (click)="openAddWordDialog()">
  Add Word</button>
<button id="testYourself" type="button" mat-raised-button (click)="openVocabularyTestDialog()">
  Test Your Vocabulary </button>
  <button id="listenAndGuess" type="button" mat-raised-button (click)="openListeningTestDialog()">
    Listen & Guess </button>
</div>
<div style="display: flex;">
  <app-words-table class="float-left" #wordsTable [dictionaryId]="id"></app-words-table>
  <app-lessons-table class="float-right" #lessonsTable [dictionaryId]="id" (lessonsEmitter)="refreshLessons($event)" ></app-lessons-table>
</div>
