<h1 mat-dialog-title>Add New Word</h1>
<div mat-dialog-content>

  <input #foreignLanguageInput matInput [(ngModel)]="word.foreignLanguageWord">
  <input #nativeLanguageInput matInput [(ngModel)]="word.nativeLanguageTranslation">
  <app-lessons-select [lessons]="data.lessons" #lessonsSelect ></app-lessons-select>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSaveAddAnotherClick()" cdkFocusInitial>Save and Add Another</button>
  <button mat-button (click)="onSaveClick()" cdkFocusInitial>Save</button>
</div>
