mat-table{
  width: 600px;
  margin-left:20px;
}
mat-table tr {
  width: 100%;
}
mat-table th {
  background: #D6E8FA;
}

mat-table caption {
  font-weight: bold;
  background: #1976d2;
  color: white;
  width: 600px;
}

.mat-column-id {
  flex: 0 0 10%;
  color: lightgrey;
  vertical-align: middle;
}
.mat-column-foreignLanguageWord {
  flex: 0 0 35%;
  font-weight: bolder;
  vertical-align: middle;
}

.mat-column-nativeLanguageTranslation {
  flex: 0 0 35%;
  font-weight: bolder;
  vertical-align: middle;
}
.mat-column-lesson {
  flex: 0 0 20%;
  vertical-align: middle;
}
.mat-column-action {
  flex: 0 0 10%;
  text-align: right;
  vertical-align: middle;
}
.mat-column-action mat-icon {
  vertical-align: middle;
  cursor: pointer;
}

